

<div class="container">

  <h3 class="d-flex justify-content-center">Angular 13, WebAPI, MySQL server</h3>
  <h5 class="d-flex justify-content-center">Content view management portal</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="country"
                class="m-1 btn btn-light btn-outline-primary" Button>
          Country
        </button>
        <button routerLink="port"
                class="m-1 btn btn-light btn-outline-primary" Button>
          Port
        </button>
        <button routerLink="ship"
                class="m-1 btn btn-light btn-outline-primary" Button>
          Ship
        </button>
        <button routerLink="voyage"
                class="m-1 btn btn-light btn-outline-primary" Button>
          Voyage
        </button>
      </li>
    </ul>
  </nav>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="point5"
                class="m-1 btn btn-light btn-outline-primary" Button>
          Point5
        </button>

      </li>
    </ul>
  </nav>


  <router-outlet></router-outlet>
  <footer>
    <h6>Created by Popa Catalin.</h6>
    <br />
    <h6>Thanks!</h6>
  </footer>
</div>
